html {
    background-color: #f2f0f8;
    height: 100%;
}

body{
    display: table;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h1{
    color: #ebebeb;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin: 0px; 
}

h3{
    color: #ebebeb;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin: 0px; 
}

h4{
    color: #ebebeb;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin: 0px; 
}

p{
    color: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}

ul{
    color: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    list-style: none;
    padding-left: 0;
}

dt{
    padding-left: 30px;
}

.Content{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 96.5%;
    padding: 10px;
    min-width: 900px;
}

.PageHeader{
    background-color: #483c62;
    display: block;
    height:  100px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.PageHeader div{
    width: 50%;
    min-width: 900px;
    height: 50%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
}

.Segment{
    margin: 20px;
    background-color: #85789F;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #888888;
}

.SubSegment{
    margin: 5px;
    background-color: #756a8b;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #6a607e;
}

.mediaIcon{
    height: 50px;
}

.ProjectCard{
    background-color: #756a8b;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 5px;
    box-shadow: 0px 0px 10px 0px #6a607e;
}

.ProjectCard img{
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#websitePurpose{
    width: 70%;
    min-width: 390px;
    text-align: right;
}

#myName{
    width: 30%;
    min-width: 230px;
}

#introduction{
    display: flex;
    justify-content: center;
}

#introduction p{
    margin-top: 0px;
    display: inline;
    padding-top: 25px;
    padding-bottom: 25px;
}

#portrait{
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#introductionTwo{
    text-align: center;
}

#socialMedia{
    margin-top: 10px;
}

#socialMedia a{
    text-decoration: none;
}

#resume{
    display: flex;
    flex-flow: wrap;
}

#skills, #interest{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

#education, #hobbies{
    width: 53%;
    margin-right: auto;
    margin-left: auto;
}

#education dt{
    margin-bottom: 5px;
}

#projects{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

#media{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#media img{
    height: 150px;
    border-radius: 5px;
    border: 5px solid #756a8b;
    box-shadow: 0px 0px 10px 0px #6a607e;
}

@media screen and (min-width: 450px){
    #proSkills{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    h1{
        font-size: 55px;   
    }
    
    h3{
        font-size: 40px;
    }
    
    p, ul{
        font-size: 27px;
    }
    
    .PageHeader{
        height:  150px;
    }
    
    .PageHeader div{
        padding-top: 40px;
    }
    
    .mediaIcon{
        height: 80px;
    }
    
    #myName{
        width: 40%;
    }
    
    #websitePurpose{
        width: 60%;
    }
    
    #portrait{
        height: 200px;
    }
    
    #proSkills{
        margin-left: auto;
        margin-right: auto;
    }
    
    #skills, #proSkills{
        width: 47%;
    }
    
    #education{
        width: 100%;
    }
    
    #proSkillsList, #proSkillsTitle{
        display: none;
    }
    
    #media img{
        height: 200px;
    }
}
