html{
    background-color:  #f2f0f8;
    width: 100%;
    height: 100%;
}

h3{
    color: #ebebeb;
    font-family: 'Arvo', serif;
    font-size: 25px;
    margin: 0px; 
}

p{
    margin: 7px;    
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
}

ul{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
    margin: 7px;
    list-style: none;
    padding-left: 0;
}

dt{
    padding-bottom: 5px;
    font-size: 13px;
}

a img{
    width: 50px;
    margin: 0 10px;
}

.box{
    width: 264px;
    min-width: 264px;
    height: 50px;
    background-color: #483c62;
    padding: 5px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

/*
#jobWrap{
    margin-top: 30px;
    width: 512px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#jobLabel{
    width: 170px;
    height: 32px;
    background-color: #483c62;
    border-radius: 7px;
    color: white;
    margin: 0 5px;
}
*/

#socialBox{
    width: 350px;
    min-width: 350px;
}

#landingPage{
    height: 95vh;
}

#landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

#titleImage{
    width: 512px;
    flex-shrink: 0;
    box-shadow: 0px 0px 5px 0px #6a607e;
    border-radius: 15px;
}

#carrotArrow{
    width: 64px;
    display: block;
    margin: 0 auto;
}

#portfolio{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

#introduction{
    display: flex;
    flex-flow: column;
    width: 700px;
    height: 124px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

#introduction p{
    font-size: 17px;
}

#split{
    height: auto;
    display: flex;
    flex-flow: row;
    margin: 30px auto;
}

#split .box {
    margin: 10px;
    width: 325px;
    height: inherit;
    padding: 10px;
}

#splitOne, #splitTwo{
    display: flex;
    flex-flow: column;
}

#splitOne div, #splitTwo div {
    display: inline;
    text-align: center;
}

#education h3 { 
    text-align-last: center;
}

#projects{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 800px;
    margin: 0 auto;
}

.ProjectCard{
    background-color: #483c62;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #6a607e;
    width: 204px;
    height: 285px;
    margin: 10px 10px;
}

.ProjectCard img{
    height: 150px;
    border-radius: 5px;
    margin-bottom: 20px;
}